{% extends "base.html" %} {% block title %} About Digital Product Management
{%endblock%} {% block body %}
<h2>About Digital Product Management</h2>
<p>
  Lorem ipsum dolor sit amet consectetur, adipisicing elit. Expedita cupiditate
  deserunt obcaecati corporis quisquam perspiciatis consectetur earum modi eum,
  ducimus deleniti nostrum totam repellendus quasi delectus corrupti nobis?
  Quis, temporibus?
</p>
<p>
  Lorem ipsum dolor sit amet consectetur, adipisicing elit. Expedita cupiditate
  deserunt obcaecati corporis quisquam perspiciatis consectetur earum modi eum,
  ducimus deleniti nostrum totam repellendus quasi delectus corrupti nobis?
  Quis, temporibus?
</p>
<p>
  Lorem ipsum dolor sit amet consectetur, adipisicing elit. Expedita cupiditate
  deserunt obcaecati corporis quisquam perspiciatis consectetur earum modi eum,
  ducimus deleniti nostrum totam repellendus quasi delectus corrupti nobis?
  Quis, temporibus?
</p>

{% endblock %}